@charset "UTF-8";
@font-face {
    font-family: Rubik Dirt;
    src: url(./fonts/RubikDirt-Regular.ttf); format ('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    font: normal 900 1em 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(145deg, #100421, #2A124A 10%, #5e398f, #AA8CD0);
    background-size: 100% 120%;
    background-position: center;
    font-size: 30px;
}h1, h2 {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}.painel {
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(145deg, #291446, #2A124A 10%, #5e398f, #7958a3);
    padding: 20px;
    background-clip: padding-box;
    box-shadow: 0 0 10px white;
    text-align: center;
}.painel img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }.botao {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #7958a3;
    padding: 10px;
    background-clip: padding-box;
    cursor: pointer;
    line-height: 45px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}.botao:hover {
    background-color: #AA8CD0;
}.botao:active {
    background-color: #5e398f;
}