.botao-menu-oculto {
    line-height: 0.1;
}.botao-submenu {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #7958a3;
    padding: 10px;
    background-clip: padding-box;
    cursor: pointer;
    line-height: 15px;
    text-decoration: none;
    margin-bottom: 10px;
}
div > .botao-submenu {
    display: none;
}
div:hover > .botao-submenu {
    display: block;
}
.botao-submenu:hover {
    background-color: #AA8CD0;
}.botao-submenu:active {
    background-color: #5e398f;
}